<p id="notice"><%= notice %></p>

<% Topics['topics'].each do |topic| %>
  <h1><%= topic %></h1>
  <% @debates.each do |debate| %>
    <% if debate.topic == topic %>
          <%= link_to 'Join', debate %>
    <% end %>
  <% end %>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debate', new_debate_path %>
