<h1>Choose a Topic</h1>
<br/>
<% Topics['topics'].each do |topic| %>
  <% @debates.each do |debate| %>
    <% if debate.topic == topic %>
      <h2><%= link_to topic, debate %></h2>
    <% end %>
  <% end %>
  <br />
  <br />
  <br />
<% end %>
  </tbody>
</table>
