<p><h1>Friend Your Debate Partner?</h1></p>
<%= link_to "<button class='btn btn-success' type='submit'>Yes!</button>".html_safe, friend_request_path(1) %>
<%= link_to "<button class='btn btn-danger' type='submit'>No!</button>".html_safe, dashboard_path %>
