$font-family-serif: 'Slabo 27px', serif !important;
$font-family-sans: 'Slabo 27px', serif !important;
$font-family-base: $font-family-serif;
$headings-font-family: "Josefin Slab", serif !important;
$logo-font-family: "Fredericka the Great", cursive;
